# Database URL for Prisma 
DATABASE_URL=postgresql://user:password@localhost:5432/recipe-service?sslmode=require
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/recipe-service_test
JWT_SECRET=your_secret_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ALLOWED_ORIGINS=http://localhost:5173,<http://localhost:3000>